<!DOCTYPE html>
<html>
<head>
    <title>Analyse Effectuée</title>
</head>
<body>
<h1>Bonjour, {{nom}}!</h1>
<p>Nous vous informons que votre analyse a été effectuée avec succès.</p>
<p>Voici les détails de l'analyse :</p>
<ul>
    <li>Type d'analyse : {{typeAnalyse}}</li>
    <li>Code de l'analyse : {{codeAnalyse}}</li>
    <li>Date : {{dateAnalyse}}</li>
</ul>
<p>Vous pouvez utiliser le code de l'analyse pour consulter les résultats via notre plateforme.</p>
<p>Merci pour votre confiance.</p>
</body>
</html>
